.login{
    background-color: #f8f8f8;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.login__container{
    padding: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.login__text{
    margin-bottom: 40px;
}

.login__container > img{
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
}

.login__container > button{
    /* margin-top: 50px;
    text-transform: inherit !important;
    background-color: #0a8d48 !important;
    color: white; */

    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.login__container > button:hover{
    background: #43A047;
}

.login__inputBox input{
    width: 100%;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
    display: inline-block;
    box-sizing: border-box;
}